# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    docker-compose.yaml                                :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: yitani <yitani@student.42.fr>              +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/11/13 12:31:30 by yitani            #+#    #+#              #
#    Updated: 2025/11/13 12:39:41 by yitani           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #