`# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    docker-compose.yaml                                :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: yitani <yitani@student.42.fr>              +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/11/13 12:31:30 by yitani            #+#    #+#              #
#    Updated: 2025/11/13 12:39:41 by yitani           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

version: '3.8'

services:

networks:
  internal_lan:
    driver: bridge
    ipam:
        config:
          - subnet: 192.168.1.0/24
            gateway: 192.168.1.1
  external_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24
          gateway: 10.0.0.1